*{
    padding: 0;
    margin: 0;
}
body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
header{
    width: 100%;
    margin-top: 20px;
}
header ul{
    display: flex;
    justify-content: flex-end;
}
header ul li{
    list-style: none;
    margin-right: 20px;
}
header ul li a{
    text-decoration: none;
    color: black;
}
header ul li a:hover{
    color: rgb(252, 0, 0);
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
